﻿@model Domain.Entities.ShippingDetails
@{
    ViewBag.Title = "SportStore : Checkout";
}

<h2>Checkout</h2>

<p>Please enter your details</p>

@using (Html.BeginForm()) { 
    
    @Html.ValidationSummary()
    <h3>Ship to:</h3>
    
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class="form-control"})
    </div>
    
    <h3>Address: </h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label for="@(property.PropertyName)">@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new{@class="form-control"})
            </div>
        }
    }
    
    <h3>Options:</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x=>x.GiftWrap)
            Gift wrapping
        </label>
    </div>
    
    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Complete order" />
    </div>
}
