﻿@model Domain.Entities.Product

@{
    ViewBag.Title = "Admin product edit : " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@Model.Name</h1>

<div class="panel">
    <div class="panel-heading">
        <h3>Admin product edit : @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin")) { 
        <div class="panel-body">
            @Html.HiddenFor(m=>m.ProductID)
            @foreach (var property in ViewData.ModelMetadata.Properties) {
                if (property.PropertyName != "ProductID") { 
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description") { 
                            @Html.TextArea(property.PropertyName, null, new { @class="form-control", rows=5})
                        }else{
                            @Html.TextBox(property.PropertyName, null, new { @class="form-control"})
                        }

                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
            @Html.ActionLink("Cancel and return to list", "Index", null, new { @class="btn btn-default"})
        </div>
    }
</div>

