﻿@model IEnumerable<Domain.Entities.Product>

@{
    ViewBag.Title = "Admin product list";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All products</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Name</th>
                <th class="text-right">Price</th>
                <th colspan="2" class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model) { 
                <tr>
                    <td class="text-right">@item.ProductID</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
                    <td class="text-right">@item.Price.ToString("c")</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin")) { 
                            @Html.Hidden("ProductID", item.ProductID)
                            <input type="submit" class="btn btn-default btn-xs" value="Delete" />
                        }
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Duplicate", "Duplicate", new { item.ProductID }, new { @class="btn btn-info btn-xs" })
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Add new product", "Create", null, new { @class="btn btn-default"})
    </div>
</div>

