﻿@model SportStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log in";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Log in</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm()){
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Username:</label>
                @Html.TextBoxFor(m => m.UserName, new { @class="form-control" })
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password, new { @class="form-control" })
            </div>
            <input type="submit" value="Log in" class="btn btn-primary" />
        }
    </div>
</div>
