﻿@model IEnumerable<string>

<div data-role="navbar">
    <ul>
        <li>
            @Html.ActionLink("Home", "List", "Product", null,
                new { @class = "" })
        </li>

        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, new
                    {
                        controller = "Product",
                        action = "List",
                        category = link,
                        page = 1
                    }, new
                    {
                        data_transition = "fade",
                        @class = (link == ViewBag.SelectedCategory ? "ui-btn-active" : null)
                    }
                )
            </li>
        }
    </ul>
</div>


